<header>
    <nav>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/" style="font-size: larger;">Home</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/addministration">Addminister Vaccinations</a>
            </li> -->
        </ul>
    </nav>
</header>