<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Vaccination Schedule System</h1>
    <ul>
        <li><a href="/patient/creation">Add a patient</a></li>
        <li><a href="/administration">Addminister Vaccinations</a></li>
    </ul>
   
</body>
</html>